.elementor-2434 .elementor-element.elementor-element-a93792d .elementor-button{font-size:37px;background-color:#1CD821;border-style:none;border-radius:9999999999px 9999999999px 9999999999px 9999999999px;box-shadow:0px 0px 10px 0px rgba(153, 152.66739130434783, 152.66739130434783, 0.49);padding:18px 18px 18px 18px;}#elementor-popup-modal-2434 .dialog-message{width:150px;height:165px;align-items:flex-start;}#elementor-popup-modal-2434{justify-content:flex-end;align-items:flex-end;}#elementor-popup-modal-2434 .dialog-widget-content{animation-duration:0.8s;background-color:#FF000000;}@media(max-width:767px){#elementor-popup-modal-2434 .dialog-message{width:100px;}}/* Start custom CSS for button, class: .elementor-element-a93792d */.elementor-2434 .elementor-element.elementor-element-a93792d {

  animation: pulse 1s infinite;
}
.elementor-2434 .elementor-element.elementor-element-a93792d:hover {
  animation-play-state:  paused;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}/* End custom CSS */